<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuse.mapper.CityWeatherEachHourMapper">

    <resultMap id="all" type="com.fuse.domain.pojo.CityWeatherEachHour">
        <result column="location_id" property="locationId"></result>
        <result column="location_name" property="locationName"></result>
        <result column="time" property="time"></result>
        <result column="date" property="date"></result>
        <result column="temperature" property="temperature"></result>
        <result column="wind_direction" property="windDirection"></result>
        <result column="pressure" property="pressure"></result>
        <result column="wind_speed" property="windSpeed"></result>
        <result column="humidity" property="humidity"></result>
    </resultMap>

    <sql id="all_Columns">
        location_id,location_name,`time`,temperature,wind_direction,pressure,wind_speed,humidity
    </sql>

    <insert id="saveOrUpdate" parameterType="com.fuse.domain.pojo.CityWeatherEachHour">
        insert into city_weather_each_hour
        values (#{locationId}, #{locationName},#{time},#{date}, #{temperature}, #{windDirection}, #{pressure},
                #{windSpeed},
                #{humidity}) ON DUPLICATE KEY
        UPDATE
            temperature=#{temperature},
            wind_direction= #{windDirection},
            pressure = #{pressure},
            wind_speed = #{windSpeed},
            humidity = #{humidity}
    </insert>

    <insert id="save" parameterType="com.fuse.domain.pojo.CityWeatherEachHour">
        insert into city_weather_each_hour
        values ( #{locationId}, #{locationName},#{time},#{date}, #{temperature}, #{windDirection}, #{pressure},
                #{windSpeed}, #{humidity})
    </insert>

    <select id="get3dWeather" resultMap="all">
        select
        <include refid="all_Columns"/>
        from city_weather_each_hour where `time` >= #{from} &amp; #{to} >= `time` &amp; location_id in #{locationIds}
    </select>

    <select id="getWeatherFromTo" resultMap="all">
        select
        <include refid="all_Columns"/>
        from city_weather_each_hour where `time` >= #{from} &amp; #{to} >= `time` &amp; location_id in #{locationIds}
    </select>

</mapper>
