<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuse.mapper.ErrorLogMapper">

    <insert id="save" parameterType="com.fuse.domain.pojo.ErrorLog">
        insert into error_log (log_id, error_time, error_msg, error_code, error_type, log)
        values (#{logId}, #{errorTime}, #{errorMsg}, #{errorType}, #{log}, #{errorCode}) ON DUPLICATE KEY
        UPDATE
            log_id=#{logId},
            error_time= #{errorTime},
            error_msg = #{errorMsg},
            error_type = #{errorType},
            log = #{log},
            error_code = #{errorCode}
    </insert>

    <select id="getExceptionPage" resultType="com.fuse.domain.pojo.ErrorLog">
        select log_id, error_time, error_msg, error_code, error_type, log
        from error_log
        where error_code = #{code}
        order by error_time desc limit #{current}, #{pageSize}
    </select>

</mapper>
