<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuse.mapper.FanCityMapper">

    <select id="getAllFans" resultType="com.fuse.domain.pojo.FanCity">
        SELECT location_id, fan_id
        FROM `fan_city`
    </select>

    <select id="getFanId" resultType="java.lang.Integer">
        SELECT fan_id
        FROM `fan_city`
        where location_id = #{locationId}
    </select>

</mapper>
