<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuse.mapper.PredictResultMapper">

    <insert id="saveOrUpdate" parameterType="com.fuse.domain.pojo.PredictResult">
        insert into predict_result (`time`, region, fan_id, power, yd_15,`date`)
        values (#{datetime}, #{region}, #{fanId}, #{power}, #{yd15},#{date}) ON DUPLICATE KEY
        update
            `time` = #{datetime},
            region = #{region},
            fan_id = #{fanId},
            power = #{power},
            yd_15 = #{yd15},
            `date` = #{date}
    </insert>

</mapper>
